@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

/* VARIABLES */

// FONTS
$f-tall:'Open Sans Condensed', sans-serif;
$f-bold:'Oswald', sans-serif;


/* WRAPPER */
#wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $f-bold;
    background-color: #f7fbfe;

    img{
        height: 60px;
        padding: 0 50px;
    }
    nav{
        width: 40%;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        li{
            line-height: 60px;
        }
        a{
            font-size: 20px;
            text-decoration: none;
            color: #000;
        }
    }

    form{
        line-height: 60px;
        input{
            height: 20px;
            width: 200px;
            margin: 0;
        }
        button{
            height: 26px;
            width: 60px;
            margin: 0;
            background: rgb(189, 188, 188);
            border: none;
        }
    }
    .login{
        margin: 20px 0;
        padding-right: 30px;
        background: rgb(189, 188, 188);
        display: flex;
        flex-direction: row;
        img{
            height: 100%;
            padding: 0;
            background-color: #000;
        }
        p{
            font-size: 15px;
            line-height: 18px;
            padding-left: 5px;
        }
    }
}

/* MAIN */
main{
    width: 100%;
    display: grid;
    grid-template-columns: 70px 1fr 70px;
    grid-template-rows: 800px 800px 800px 800px 30px;

    .sec-one{
        grid-column: 1/-1;
        grid-row: 1/2;
        background-image: url(../img/scuba2.jpg);
        background-size: cover;
        background-position:bottom;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 150px 1fr;

        .textbox{
            grid-column: 2/3;
            grid-row: 2/3;
            background-color: rgba(255, 255, 255, 0.664);
            font-family: $f-tall;
            padding-top: 40px;
        }

        .cit{
            text-align: center;
            font-size: 35px;
        }

        .by{
            text-align: center;
            font-size: 20px;
            padding-top: 10px;
        }
    }
    .sec-two{
        width: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 60px 1fr 60px 1fr 60px 1fr;
        grid-template-rows: 60px 60px 60px 1fr 180px;

        h1{
            grid-column: 1/5;
            grid-row: 2/3;
            color: #ffff;
            line-height: 60px;
            font-family: $f-bold;
            background: #000;
            padding-left: 50px;
            font-size: 35px;
        }
        .sec-box{
            grid-column: 5/-1;
            grid-row: 2/3;
            background-color: rgb(187, 184, 184);
        }
        .f1{
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .f2{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .f3{
            grid-column: 5/6;
            grid-row: 4/5;
        }
        .f4{
            grid-column: 7/-1;
            grid-row: 4/5;
        }

        figure{
            border: 1px solid black;
            padding: 50px;
            img{
                width: 100%;
            }
            figcaption{
                font-family: $f-tall;
                color: rgb(202, 201, 201);
                font-size: 30px;
                text-align: center;
            }
            span{
                display: block;
                color: #000;
                font-size: 15px;
                font-weight: bold;
                padding-top: 10px;
            }
        }
        
        a{
            grid-column: 2/7;
            grid-row: 5/-1;
            text-align: center;
            padding-top: 60px;
            text-decoration: none;
            color: #000;
            h2{
                font-family: $f-tall;
                font-size: 50px;

            }
        }
    }
    .sec-three{
        grid-column: 2/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 60px 1fr;
        grid-template-rows: 60px 60px 60px 1fr 200px 50px;

        h1{
            grid-column: 1/3;
            grid-row: 2/3;
            color: #ffff;
            line-height: 60px;
            font-family: $f-bold;
            background: #000;
            padding-left: 50px;
            font-size: 35px;
        }
        .sec-box{
            grid-column: 3/-1;
            grid-row: 2/3;
            background-color: rgb(187, 184, 184);
        }

        .img-box-l{
            grid-column: 1/2;
            grid-row: 4/5;
            border: 1px solid black;
            padding: 40px;
        }
        .img-box-r{
            grid-column: 3/-1;
            grid-row: 4/5;
            border: 1px solid black;
            padding: 40px;
        }
        .text-box-l{
            grid-column: 1/2;
            grid-row: 5/6;
            background: #000;
            padding: 60px 50px;
            h2{
                color: #ffff;
                font-family: $f-bold;
                font-weight: bold;
                font-size: 30px;
            }
            p{
                padding-top: 10px;
                color: #ffff;
                font-family: $f-tall;
                font-size: 15px;
            }
        }
        .text-box-r{
            grid-column: 3/-1;
            grid-row: 5/6;
            background: black;
            
            padding: 60px 50px;
            h2{
                color: #ffff;
                font-family: $f-bold;
                font-weight: bold;
                font-size: 30px;
            }
            p{
                padding-top: 10px;
                color: #ffff;
                font-family: $f-tall;
                font-size: 15px;
            }
        }
        img{
            height: 200px;
        }

        a{
            grid-column: 1/-1;
            grid-row: 6/-1;
            text-align: center;
            padding: 60px 0;
            text-decoration: none;
            color: #000;
            h2{
                font-family: $f-tall;
                font-size: 50px;

            }
        }
    }
    .sec-four{
        padding-top: 60px;
        grid-column: 2/3;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 60px 1fr;
        grid-template-rows: 60px 60px 60px 1fr 140px; 
        h1{
            grid-column: 1/3;
            grid-row: 2/3;
            color: #ffff;
            line-height: 60px;
            font-family: $f-bold;
            background: #000;
            padding-left: 50px;
            font-size: 35px;
        }
        .sec-box{
            grid-column: 3/-1;
            grid-row: 2/3;
            background-color: rgb(187, 184, 184);
        }
        .sec-4-box{
            grid-column: 1/-1;
            grid-row: 4/5;
            display: flex;
            flex-direction: row;
            border: 1px solid black;
            .text{
                width: 60%;
                padding: 110px 330px 0 150px;
                h2{
                    font-family: $f-tall;
                    font-size: 40px;
                    padding-bottom: 15px;
                }
                p{
                    font-family: $f-bold;
                    font-size: 20px;
                    padding-bottom: 20px;
                }
            }
            .img-box{
                width: 40%;
                img{
                   height:  200px;
                }
            }
        }
        
        a{
            grid-column: 1/-1;
            grid-row: 5/-1;
            text-align: center;
            text-decoration: none;
            color: #000;
            padding-top: 60px;
            h2{
                font-family: $f-tall;
                font-size: 50px;

            }
        }
    }
}

/* FOOTER*/
footer{
    width: 100%;
    height: 350px;
    background: #000;
}